.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: var(--bg-primary);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  position: relative;
  width: 37.5rem;
  max-height: 90vh;
  overflow-y: auto;
  margin: 0 0.5rem;
}

.closeButton {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-secondary);
  z-index: 1;
  padding: 0.5rem;
  transition: transform 0.3s ease;
}

.closeButton:hover {
  background-color: var(--bg-selected);
  border-radius: var(--border-radius-sm);
}

/* Mobile styles */
@media (max-width: 29rem) {
  .closeButton {
    right: 0.5rem;
  }
}
