/* Common layout */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  width: 25rem;
}

.logo {
  margin: 5rem 0 2rem;
}

.form {
  width: 100%;
  margin: 1rem 0;
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  background-color: var(--bg-primary);
}

.footer {
  margin-top: 1rem;
  font-size: 0.875rem;
  text-align: center;
}

/* Common elements */
.link {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  min-width: 25%;
}

.centeredButton {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.successMessage {
  color: var(--text-primary);
  margin: 0 1rem;
  background-color: rgba(34, 197, 94, 0.5);
  text-align: center;
  padding: 1rem;
  border-radius: var(--border-radius-sm);
  border-left: 0.25rem solid var(--color-success);
}
