.forgotPasswordContainer {
  max-width: 28.125rem;
  background-color: var(--color-bg);
  border-radius: var(--border-radius-sm);
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
