.container {
  display: flex;
  height: 100vh;
  background-color: var(--bg-primary);
}

.main {
  flex: 1;
}

/* Mobile styles */
@media (max-width: 46.875rem) {
  .container {
    position: relative;
  }
}
