.botBadge {
  background-color: var(--accent-primary);
  color: #fff;
  font-size: 0.75rem;
  padding: 0.125rem 0.25rem; 
  border-radius: var(--border-radius-xsm);
  margin-left: 0.25rem;
  font-weight: 600;
}