.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  padding: 2rem;
  box-shadow: var(--box-shadow);
  z-index: 100;
  animation: fadeIn 0.2s ease-in-out;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px; /* Adjust this to align with the display name */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--bg-secondary);
  z-index: 101;
}

.container::after {
  content: "";
  position: absolute;
  top: -11px;
  left: 19px; /* One pixel to the left of the before element */
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid var(--border-color);
  z-index: 100;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--bg-avatar);
  border: 1px solid var(--border-avatar);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.75rem;
  font-weight: 500;
  color: var(--text-primary);
  overflow: hidden;
}

.avatarImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatarPlaceholder {
  color: var(--background-color);
}

.userDetails {
  display: flex;
  align-items: center;
}

.displayName {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--text-primary);
}

.username {
  font-weight: 500;
  color: var(--text-secondary);
}

.bio {
  padding: 1rem 0;
  color: var(--text-primary);
  min-width: 20rem;
  max-width: 30rem;
  border-top: 1px solid var(--border-color);
}

@media (max-width: 768px) {
  .container {
    width: calc(100% - 4rem);
    max-width: 100%;
  }
}
