.container {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  font-weight: 500;
  color: var(--text-primary);
  overflow: hidden;
}

.avatarImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatarPlaceholder {
  color: var(--background-color);
}

.userDetails {
  flex: 1;
  min-width: 0;
}

.displayName {
  font-weight: 500;
  color: var(--text-primary);
  flex: 1;
  text-align: left;
}

.username {
  font-weight: 500;
  color: var(--text-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bio {
  color: var(--text-primary);
}