.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  padding: 2rem;
  box-shadow: var(--box-shadow);
  z-index: 100;
  animation: fadeIn 0.2s ease-in-out;
  position: relative;
  min-width: 21rem;
  max-width: 35rem;
  margin-right: 1.5rem;
}

.container::before {
  content: '';
  position: absolute;
  top: -0.625rem;
  left: 1.5rem; /*  Adjust this to align with the display name */
  width: 0;
  height: 0;
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  border-bottom: 0.625rem solid var(--bg-secondary);
  z-index: 101;
}

.container::after {
  content: '';
  position: absolute;
  top: -0.6875rem;
  left: 1.4375rem; /* One pixel to the left of the before element */
  width: 0;
  height: 0;
  border-left: 0.6875rem solid transparent;
  border-right: 0.6875rem solid transparent;
  border-bottom: 0.6875rem solid var(--border-color);
  z-index: 100;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--bg-avatar);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.75rem;
  font-weight: 500;
  color: var(--text-avatar);
  overflow: hidden;
}

.avatarImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatarPlaceholder {
  color: var(--text-primary);
}

.userDetails {
  display: flex;
  align-items: center;
}

.displayName {
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--text-primary);
}

.username {
  font-weight: 500;
  color: var(--text-secondary);
}

.bio {
  padding: 1rem 0;
  color: var(--text-primary);
  min-width: 0;
  width: 100%;
  border-top: 1px solid var(--border-color);
}

@media (max-width: 46.75em) {
  .container {
    position: fixed;
    left: 1.5rem;
    padding: 1.5rem;
    max-width: 90vw;
  }

  /* Add specific styles for smaller screens */
  .container::before {
    left: 4rem; /* Keep triangle position consistent */
  }
  .container::after {
    left: 3.9375rem; /* Keep triangle position consistent */
  }
}
